:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.read-the-docs[data-v-830e400e] {
  color: #888;
}

.logo[data-v-962047bb] {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo[data-v-962047bb]:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vue[data-v-962047bb]:hover {
  filter: drop-shadow(0 0 2em #42b883aa);
}

/* VitePress의 마크다운 스타일을 유지하기 위한 CSS 로드 */
/**
 * Colors: Solid
 * -------------------------------------------------------------------------- */
[data-v-e3d35944]:root {
  --vp-c-white: #ffffff;
  --vp-c-black: #000000;

  --vp-c-neutral: var(--vp-c-black);
  --vp-c-neutral-inverse: var(--vp-c-white);
}
.dark[data-v-e3d35944] {
  --vp-c-neutral: var(--vp-c-white);
  --vp-c-neutral-inverse: var(--vp-c-black);
}
/**
 * Colors: Palette
 *
 * The primitive colors used for accent colors. These colors are referenced
 * by functional colors such as "Text", "Background", or "Brand".
 *
 * Each colors have exact same color scale system with 3 levels of solid
 * colors with different brightness, and 1 soft color.
 *
 * - `XXX-1`: The most solid color used mainly for colored text. It must
 *   satisfy the contrast ratio against when used on top of `XXX-soft`.
 *
 * - `XXX-2`: The color used mainly for hover state of the button.
 *
 * - `XXX-3`: The color for solid background, such as bg color of the button.
 *    It must satisfy the contrast ratio with pure white (#ffffff) text on
 *    top of it.
 *
 * - `XXX-soft`: The color used for subtle background such as custom container
 *    or badges. It must satisfy the contrast ratio when putting `XXX-1` colors
 *    on top of it.
 *
 *    The soft color must be semi transparent alpha channel. This is crucial
 *    because it allows adding multiple "soft" colors on top of each other
 *    to create a accent, such as when having inline code block inside
 *    custom containers.
 * -------------------------------------------------------------------------- */
[data-v-e3d35944]:root {
  --vp-c-gray-1: #dddde3;
  --vp-c-gray-2: #e4e4e9;
  --vp-c-gray-3: #ebebef;
  --vp-c-gray-soft: rgba(142, 150, 170, 0.14);

  --vp-c-indigo-1: #3451b2;
  --vp-c-indigo-2: #3a5ccc;
  --vp-c-indigo-3: #5672cd;
  --vp-c-indigo-soft: rgba(100, 108, 255, 0.14);

  --vp-c-purple-1: #6f42c1;
  --vp-c-purple-2: #7e4cc9;
  --vp-c-purple-3: #8e5cd9;
  --vp-c-purple-soft: rgba(159, 122, 234, 0.14);

  --vp-c-green-1: #18794e;
  --vp-c-green-2: #299764;
  --vp-c-green-3: #30a46c;
  --vp-c-green-soft: rgba(16, 185, 129, 0.14);

  --vp-c-yellow-1: #915930;
  --vp-c-yellow-2: #946300;
  --vp-c-yellow-3: #9f6a00;
  --vp-c-yellow-soft: rgba(234, 179, 8, 0.14);

  --vp-c-red-1: #b8272c;
  --vp-c-red-2: #d5393e;
  --vp-c-red-3: #e0575b;
  --vp-c-red-soft: rgba(244, 63, 94, 0.14);

  --vp-c-sponsor: #db2777;
}
.dark[data-v-e3d35944] {
  --vp-c-gray-1: #515c67;
  --vp-c-gray-2: #414853;
  --vp-c-gray-3: #32363f;
  --vp-c-gray-soft: rgba(101, 117, 133, 0.16);

  --vp-c-indigo-1: #a8b1ff;
  --vp-c-indigo-2: #5c73e7;
  --vp-c-indigo-3: #3e63dd;
  --vp-c-indigo-soft: rgba(100, 108, 255, 0.16);

  --vp-c-purple-1: #c8abfa;
  --vp-c-purple-2: #a879e6;
  --vp-c-purple-3: #8e5cd9;
  --vp-c-purple-soft: rgba(159, 122, 234, 0.16);

  --vp-c-green-1: #3dd68c;
  --vp-c-green-2: #30a46c;
  --vp-c-green-3: #298459;
  --vp-c-green-soft: rgba(16, 185, 129, 0.16);

  --vp-c-yellow-1: #f9b44e;
  --vp-c-yellow-2: #da8b17;
  --vp-c-yellow-3: #a46a0a;
  --vp-c-yellow-soft: rgba(234, 179, 8, 0.16);

  --vp-c-red-1: #f66f81;
  --vp-c-red-2: #f14158;
  --vp-c-red-3: #b62a3c;
  --vp-c-red-soft: rgba(244, 63, 94, 0.16);
}
/**
 * Colors: Background
 *
 * - `bg`: The bg color used for main screen.
 *
 * - `bg-alt`: The alternative bg color used in places such as "sidebar",
 *   or "code block".
 *
 * - `bg-elv`: The elevated bg color. This is used at parts where it "floats",
 *   such as "dialog".
 *
 * - `bg-soft`: The bg color to slightly distinguish some components from
 *   the page. Used for things like "carbon ads" or "table".
 * -------------------------------------------------------------------------- */
[data-v-e3d35944]:root {
  --vp-c-bg: #ffffff;
  --vp-c-bg-alt: #f6f6f7;
  --vp-c-bg-elv: #ffffff;
  --vp-c-bg-soft: #f6f6f7;
}
.dark[data-v-e3d35944] {
  --vp-c-bg: #1b1b1f;
  --vp-c-bg-alt: #161618;
  --vp-c-bg-elv: #202127;
  --vp-c-bg-soft: #202127;
}
/**
 * Colors: Borders
 *
 * - `divider`: This is used for separators. This is used to divide sections
 *   within the same components, such as having separator on "h2" heading.
 *
 * - `border`: This is designed for borders on interactive components.
 *   For example this should be used for a button outline.
 *
 * - `gutter`: This is used to divide components in the page. For example
 *   the header and the lest of the page.
 * -------------------------------------------------------------------------- */
[data-v-e3d35944]:root {
  --vp-c-border: #c2c2c4;
  --vp-c-divider: #e2e2e3;
  --vp-c-gutter: #e2e2e3;
}
.dark[data-v-e3d35944] {
  --vp-c-border: #3c3f44;
  --vp-c-divider: #2e2e32;
  --vp-c-gutter: #000000;
}
/**
 * Colors: Text
 *
 * - `text-1`: Used for primary text.
 *
 * - `text-2`: Used for muted texts, such as "inactive menu" or "info texts".
 *
 * - `text-3`: Used for subtle texts, such as "placeholders" or "caret icon".
 * -------------------------------------------------------------------------- */
[data-v-e3d35944]:root {
  --vp-c-text-1: #3c3c43;
  --vp-c-text-2: #67676c;
  --vp-c-text-3: #929295;
}
.dark[data-v-e3d35944] {
  --vp-c-text-1: #dfdfd6;
  --vp-c-text-2: #98989f;
  --vp-c-text-3: #6a6a71;
}
/**
 * Colors: Function
 *
 * - `default`: The color used purely for subtle indication without any
 *   special meanings attached to it such as bg color for menu hover state.
 *
 * - `brand`: Used for primary brand colors, such as link text, button with
 *   brand theme, etc.
 *
 * - `tip`: Used to indicate useful information. The default theme uses the
 *   brand color for this by default.
 *
 * - `warning`: Used to indicate warning to the users. Used in custom
 *   container, badges, etc.
 *
 * - `danger`: Used to show error, or dangerous message to the users. Used
 *   in custom container, badges, etc.
 *
 * To understand the scaling system, refer to "Colors: Palette" section.
 * -------------------------------------------------------------------------- */
[data-v-e3d35944]:root {
  --vp-c-default-1: var(--vp-c-gray-1);
  --vp-c-default-2: var(--vp-c-gray-2);
  --vp-c-default-3: var(--vp-c-gray-3);
  --vp-c-default-soft: var(--vp-c-gray-soft);

  --vp-c-brand-1: var(--vp-c-indigo-1);
  --vp-c-brand-2: var(--vp-c-indigo-2);
  --vp-c-brand-3: var(--vp-c-indigo-3);
  --vp-c-brand-soft: var(--vp-c-indigo-soft);

  /* DEPRECATED: Use `--vp-c-brand-1` instead. */
  --vp-c-brand: var(--vp-c-brand-1);

  --vp-c-tip-1: var(--vp-c-brand-1);
  --vp-c-tip-2: var(--vp-c-brand-2);
  --vp-c-tip-3: var(--vp-c-brand-3);
  --vp-c-tip-soft: var(--vp-c-brand-soft);

  --vp-c-note-1: var(--vp-c-brand-1);
  --vp-c-note-2: var(--vp-c-brand-2);
  --vp-c-note-3: var(--vp-c-brand-3);
  --vp-c-note-soft: var(--vp-c-brand-soft);

  --vp-c-success-1: var(--vp-c-green-1);
  --vp-c-success-2: var(--vp-c-green-2);
  --vp-c-success-3: var(--vp-c-green-3);
  --vp-c-success-soft: var(--vp-c-green-soft);

  --vp-c-important-1: var(--vp-c-purple-1);
  --vp-c-important-2: var(--vp-c-purple-2);
  --vp-c-important-3: var(--vp-c-purple-3);
  --vp-c-important-soft: var(--vp-c-purple-soft);

  --vp-c-warning-1: var(--vp-c-yellow-1);
  --vp-c-warning-2: var(--vp-c-yellow-2);
  --vp-c-warning-3: var(--vp-c-yellow-3);
  --vp-c-warning-soft: var(--vp-c-yellow-soft);

  --vp-c-danger-1: var(--vp-c-red-1);
  --vp-c-danger-2: var(--vp-c-red-2);
  --vp-c-danger-3: var(--vp-c-red-3);
  --vp-c-danger-soft: var(--vp-c-red-soft);

  --vp-c-caution-1: var(--vp-c-red-1);
  --vp-c-caution-2: var(--vp-c-red-2);
  --vp-c-caution-3: var(--vp-c-red-3);
  --vp-c-caution-soft: var(--vp-c-red-soft);
}
/**
 * Typography
 * -------------------------------------------------------------------------- */
[data-v-e3d35944]:root {
  --vp-font-family-base: 'Inter', ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --vp-font-family-mono: ui-monospace, 'Menlo', 'Monaco', 'Consolas',
    'Liberation Mono', 'Courier New', monospace;
  font-optical-sizing: auto;
}
:root:where([data-v-e3d35944]:lang(zh)) {
  --vp-font-family-base: 'Punctuation SC', 'Inter', ui-sans-serif, system-ui,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
}
/**
 * Shadows
 * -------------------------------------------------------------------------- */
[data-v-e3d35944]:root {
  --vp-shadow-1: 0 1px 2px rgba(0, 0, 0, 0.04), 0 1px 2px rgba(0, 0, 0, 0.06);
  --vp-shadow-2: 0 3px 12px rgba(0, 0, 0, 0.07), 0 1px 4px rgba(0, 0, 0, 0.07);
  --vp-shadow-3: 0 12px 32px rgba(0, 0, 0, 0.1), 0 2px 6px rgba(0, 0, 0, 0.08);
  --vp-shadow-4: 0 14px 44px rgba(0, 0, 0, 0.12), 0 3px 9px rgba(0, 0, 0, 0.12);
  --vp-shadow-5: 0 18px 56px rgba(0, 0, 0, 0.16), 0 4px 12px rgba(0, 0, 0, 0.16);
}
/**
 * Z-indexes
 * -------------------------------------------------------------------------- */
[data-v-e3d35944]:root {
  --vp-z-index-footer: 10;
  --vp-z-index-local-nav: 20;
  --vp-z-index-nav: 30;
  --vp-z-index-layout-top: 40;
  --vp-z-index-backdrop: 50;
  --vp-z-index-sidebar: 60;
}
@media (min-width: 960px) {
[data-v-e3d35944]:root {
    --vp-z-index-sidebar: 25;
}
}
/**
 * Layouts
 * -------------------------------------------------------------------------- */
[data-v-e3d35944]:root {
  --vp-layout-max-width: 1440px;
}
/**
 * Component: Header Anchor
 * -------------------------------------------------------------------------- */
[data-v-e3d35944]:root {
  --vp-header-anchor-symbol: '#';
}
/**
 * Component: Code
 * -------------------------------------------------------------------------- */
[data-v-e3d35944]:root {
  --vp-code-line-height: 1.7;
  --vp-code-font-size: 0.875em;
  --vp-code-color: var(--vp-c-brand-1);
  --vp-code-link-color: var(--vp-c-brand-1);
  --vp-code-link-hover-color: var(--vp-c-brand-2);
  --vp-code-bg: var(--vp-c-default-soft);

  --vp-code-block-color: var(--vp-c-text-2);
  --vp-code-block-bg: var(--vp-c-bg-alt);
  --vp-code-block-divider-color: var(--vp-c-gutter);

  --vp-code-lang-color: var(--vp-c-text-3);

  --vp-code-line-highlight-color: var(--vp-c-default-soft);
  --vp-code-line-number-color: var(--vp-c-text-3);

  --vp-code-line-diff-add-color: var(--vp-c-success-soft);
  --vp-code-line-diff-add-symbol-color: var(--vp-c-success-1);

  --vp-code-line-diff-remove-color: var(--vp-c-danger-soft);
  --vp-code-line-diff-remove-symbol-color: var(--vp-c-danger-1);

  --vp-code-line-warning-color: var(--vp-c-warning-soft);
  --vp-code-line-error-color: var(--vp-c-danger-soft);

  --vp-code-copy-code-border-color: var(--vp-c-divider);
  --vp-code-copy-code-bg: var(--vp-c-bg-soft);
  --vp-code-copy-code-hover-border-color: var(--vp-c-divider);
  --vp-code-copy-code-hover-bg: var(--vp-c-bg);
  --vp-code-copy-code-active-text: var(--vp-c-text-2);
  --vp-code-copy-copied-text-content: 'Copied';

  --vp-code-tab-divider: var(--vp-code-block-divider-color);
  --vp-code-tab-text-color: var(--vp-c-text-2);
  --vp-code-tab-bg: var(--vp-code-block-bg);
  --vp-code-tab-hover-text-color: var(--vp-c-text-1);
  --vp-code-tab-active-text-color: var(--vp-c-text-1);
  --vp-code-tab-active-bar-color: var(--vp-c-brand-1);
}
[data-v-e3d35944]:lang(es),[data-v-e3d35944]:lang(pt) {
  --vp-code-copy-copied-text-content: 'Copiado';
}
[data-v-e3d35944]:lang(fa) {
  --vp-code-copy-copied-text-content: 'کپی شد';
}
[data-v-e3d35944]:lang(ko) {
  --vp-code-copy-copied-text-content: '복사됨';
}
[data-v-e3d35944]:lang(ru) {
  --vp-code-copy-copied-text-content: 'Скопировано';
}
[data-v-e3d35944]:lang(zh) {
  --vp-code-copy-copied-text-content: '已复制';
}
/**
 * Component: Button
 * -------------------------------------------------------------------------- */
[data-v-e3d35944]:root {
  --vp-button-brand-border: transparent;
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand-3);
  --vp-button-brand-hover-border: transparent;
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-2);
  --vp-button-brand-active-border: transparent;
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-c-brand-1);

  --vp-button-alt-border: transparent;
  --vp-button-alt-text: var(--vp-c-text-1);
  --vp-button-alt-bg: var(--vp-c-default-3);
  --vp-button-alt-hover-border: transparent;
  --vp-button-alt-hover-text: var(--vp-c-text-1);
  --vp-button-alt-hover-bg: var(--vp-c-default-2);
  --vp-button-alt-active-border: transparent;
  --vp-button-alt-active-text: var(--vp-c-text-1);
  --vp-button-alt-active-bg: var(--vp-c-default-1);

  --vp-button-sponsor-border: var(--vp-c-text-2);
  --vp-button-sponsor-text: var(--vp-c-text-2);
  --vp-button-sponsor-bg: transparent;
  --vp-button-sponsor-hover-border: var(--vp-c-sponsor);
  --vp-button-sponsor-hover-text: var(--vp-c-sponsor);
  --vp-button-sponsor-hover-bg: transparent;
  --vp-button-sponsor-active-border: var(--vp-c-sponsor);
  --vp-button-sponsor-active-text: var(--vp-c-sponsor);
  --vp-button-sponsor-active-bg: transparent;
}
/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */
[data-v-e3d35944]:root {
  --vp-custom-block-font-size: 14px;
  --vp-custom-block-code-font-size: 13px;

  --vp-custom-block-info-border: transparent;
  --vp-custom-block-info-text: var(--vp-c-text-1);
  --vp-custom-block-info-bg: var(--vp-c-default-soft);
  --vp-custom-block-info-code-bg: var(--vp-c-default-soft);

  --vp-custom-block-note-border: transparent;
  --vp-custom-block-note-text: var(--vp-c-text-1);
  --vp-custom-block-note-bg: var(--vp-c-default-soft);
  --vp-custom-block-note-code-bg: var(--vp-c-default-soft);

  --vp-custom-block-tip-border: transparent;
  --vp-custom-block-tip-text: var(--vp-c-text-1);
  --vp-custom-block-tip-bg: var(--vp-c-tip-soft);
  --vp-custom-block-tip-code-bg: var(--vp-c-tip-soft);

  --vp-custom-block-important-border: transparent;
  --vp-custom-block-important-text: var(--vp-c-text-1);
  --vp-custom-block-important-bg: var(--vp-c-important-soft);
  --vp-custom-block-important-code-bg: var(--vp-c-important-soft);

  --vp-custom-block-warning-border: transparent;
  --vp-custom-block-warning-text: var(--vp-c-text-1);
  --vp-custom-block-warning-bg: var(--vp-c-warning-soft);
  --vp-custom-block-warning-code-bg: var(--vp-c-warning-soft);

  --vp-custom-block-danger-border: transparent;
  --vp-custom-block-danger-text: var(--vp-c-text-1);
  --vp-custom-block-danger-bg: var(--vp-c-danger-soft);
  --vp-custom-block-danger-code-bg: var(--vp-c-danger-soft);

  --vp-custom-block-caution-border: transparent;
  --vp-custom-block-caution-text: var(--vp-c-text-1);
  --vp-custom-block-caution-bg: var(--vp-c-caution-soft);
  --vp-custom-block-caution-code-bg: var(--vp-c-caution-soft);

  --vp-custom-block-details-border: var(--vp-custom-block-info-border);
  --vp-custom-block-details-text: var(--vp-custom-block-info-text);
  --vp-custom-block-details-bg: var(--vp-custom-block-info-bg);
  --vp-custom-block-details-code-bg: var(--vp-custom-block-info-code-bg);
}
/**
 * Component: Input
 * -------------------------------------------------------------------------- */
[data-v-e3d35944]:root {
  --vp-input-border-color: var(--vp-c-border);
  --vp-input-bg-color: var(--vp-c-bg-alt);

  --vp-input-switch-bg-color: var(--vp-c-default-soft);
}
/**
 * Component: Nav
 * -------------------------------------------------------------------------- */
[data-v-e3d35944]:root {
  --vp-nav-height: 64px;
  --vp-nav-bg-color: var(--vp-c-bg);
  --vp-nav-screen-bg-color: var(--vp-c-bg);
  --vp-nav-logo-height: 24px;
}
.hide-nav[data-v-e3d35944] {
  --vp-nav-height: 0px;
}
.hide-nav .VPSidebar[data-v-e3d35944] {
  --vp-nav-height: 22px;
}
/**
 * Component: Local Nav
 * -------------------------------------------------------------------------- */
[data-v-e3d35944]:root {
  --vp-local-nav-bg-color: var(--vp-c-bg);
}
/**
 * Component: Sidebar
 * -------------------------------------------------------------------------- */
[data-v-e3d35944]:root {
  --vp-sidebar-width: 272px;
  --vp-sidebar-bg-color: var(--vp-c-bg-alt);
}
/**
 * Colors Backdrop
 * -------------------------------------------------------------------------- */
[data-v-e3d35944]:root {
  --vp-backdrop-bg-color: rgba(0, 0, 0, 0.6);
}
/**
 * Component: Home
 * -------------------------------------------------------------------------- */
[data-v-e3d35944]:root {
  --vp-home-hero-name-color: var(--vp-c-brand-1);
  --vp-home-hero-name-background: transparent;

  --vp-home-hero-image-background-image: none;
  --vp-home-hero-image-filter: none;
}
/**
 * Component: Badge
 * -------------------------------------------------------------------------- */
[data-v-e3d35944]:root {
  --vp-badge-info-border: transparent;
  --vp-badge-info-text: var(--vp-c-text-2);
  --vp-badge-info-bg: var(--vp-c-default-soft);

  --vp-badge-tip-border: transparent;
  --vp-badge-tip-text: var(--vp-c-tip-1);
  --vp-badge-tip-bg: var(--vp-c-tip-soft);

  --vp-badge-warning-border: transparent;
  --vp-badge-warning-text: var(--vp-c-warning-1);
  --vp-badge-warning-bg: var(--vp-c-warning-soft);

  --vp-badge-danger-border: transparent;
  --vp-badge-danger-text: var(--vp-c-danger-1);
  --vp-badge-danger-bg: var(--vp-c-danger-soft);
}
/**
 * Component: Carbon Ads
 * -------------------------------------------------------------------------- */
[data-v-e3d35944]:root {
  --vp-carbon-ads-text-color: var(--vp-c-text-1);
  --vp-carbon-ads-poweredby-color: var(--vp-c-text-2);
  --vp-carbon-ads-bg-color: var(--vp-c-bg-soft);
  --vp-carbon-ads-hover-text-color: var(--vp-c-brand-1);
  --vp-carbon-ads-hover-poweredby-color: var(--vp-c-text-1);
}
/**
  * Component: Local Search
  * -------------------------------------------------------------------------- */
[data-v-e3d35944]:root {
  --vp-local-search-bg: var(--vp-c-bg);
  --vp-local-search-result-bg: var(--vp-c-bg);
  --vp-local-search-result-border: var(--vp-c-divider);
  --vp-local-search-result-selected-bg: var(--vp-c-bg);
  --vp-local-search-result-selected-border: var(--vp-c-brand-1);
  --vp-local-search-highlight-bg: var(--vp-c-brand-1);
  --vp-local-search-highlight-text: var(--vp-c-neutral-inverse);
}
@media (prefers-reduced-motion: reduce) {
[data-v-e3d35944],[data-v-e3d35944]::before,[data-v-e3d35944]::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
}
}
[data-v-e3d35944],[data-v-e3d35944]::before,[data-v-e3d35944]::after {
  box-sizing: border-box;
}
html[data-v-e3d35944] {
  line-height: 1.4;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
}
html.dark[data-v-e3d35944] {
  color-scheme: dark;
}
body[data-v-e3d35944] {
  margin: 0;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  line-height: 24px;
  font-family: var(--vp-font-family-base);
  font-size: 16px;
  font-weight: 400;
  color: var(--vp-c-text-1);
  background-color: var(--vp-c-bg);
  font-synthesis: style;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
main[data-v-e3d35944] {
  display: block;
}
h1[data-v-e3d35944],
h2[data-v-e3d35944],
h3[data-v-e3d35944],
h4[data-v-e3d35944],
h5[data-v-e3d35944],
h6[data-v-e3d35944] {
  margin: 0;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
}
p[data-v-e3d35944] {
  margin: 0;
}
strong[data-v-e3d35944],
b[data-v-e3d35944] {
  font-weight: 600;
}
/**
 * Avoid 300ms click delay on touch devices that support the `touch-action`
 * CSS property.
 *
 * In particular, unlike most other browsers, IE11+Edge on Windows 10 on
 * touch devices and IE Mobile 10-11 DON'T remove the click delay when
 * `<meta name="viewport" content="width=device-width">` is present.
 * However, they DO support removing the click delay via
 * `touch-action: manipulation`.
 *
 * See:
 * - http://v4-alpha.getbootstrap.com/content/reboot/#click-delay-optimization-for-touch
 * - http://caniuse.com/#feat=css-touch-action
 * - http://patrickhlauke.github.io/touch/tests/results/#suppressing-300ms-delay
 */
a[data-v-e3d35944],
area[data-v-e3d35944],
button[data-v-e3d35944],
[role='button'][data-v-e3d35944],
input[data-v-e3d35944],
label[data-v-e3d35944],
select[data-v-e3d35944],
summary[data-v-e3d35944],
textarea[data-v-e3d35944] {
  touch-action: manipulation;
}
a[data-v-e3d35944] {
  color: inherit;
  text-decoration: inherit;
}
ol[data-v-e3d35944],
ul[data-v-e3d35944] {
  list-style: none;
  margin: 0;
  padding: 0;
}
blockquote[data-v-e3d35944] {
  margin: 0;
}
pre[data-v-e3d35944],
code[data-v-e3d35944],
kbd[data-v-e3d35944],
samp[data-v-e3d35944] {
  font-family: var(--vp-font-family-mono);
}
img[data-v-e3d35944],
svg[data-v-e3d35944],
video[data-v-e3d35944],
canvas[data-v-e3d35944],
audio[data-v-e3d35944],
iframe[data-v-e3d35944],
embed[data-v-e3d35944],
object[data-v-e3d35944] {
  display: block;
}
figure[data-v-e3d35944] {
  margin: 0;
}
img[data-v-e3d35944],
video[data-v-e3d35944] {
  max-width: 100%;
  height: auto;
}
button[data-v-e3d35944],
input[data-v-e3d35944],
optgroup[data-v-e3d35944],
select[data-v-e3d35944],
textarea[data-v-e3d35944] {
  border: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
}
button[data-v-e3d35944] {
  padding: 0;
  font-family: inherit;
  background-color: transparent;
  background-image: none;
}
button[data-v-e3d35944]:enabled,
[role='button'][data-v-e3d35944]:enabled {
  cursor: pointer;
}
button[data-v-e3d35944]:focus,
button[data-v-e3d35944]:focus-visible {
  outline: 1px dotted;
  outline: 4px auto -webkit-focus-ring-color;
}
button[data-v-e3d35944]:focus:not(:focus-visible) {
  outline: none !important;
}
input[data-v-e3d35944]:focus,
textarea[data-v-e3d35944]:focus,
select[data-v-e3d35944]:focus {
  outline: none;
}
table[data-v-e3d35944] {
  border-collapse: collapse;
}
input[data-v-e3d35944] {
  background-color: transparent;
}
input[data-v-e3d35944]:-ms-input-placeholder,
textarea[data-v-e3d35944]:-ms-input-placeholder {
  color: var(--vp-c-text-3);
}
input[data-v-e3d35944]::-ms-input-placeholder,
textarea[data-v-e3d35944]::-ms-input-placeholder {
  color: var(--vp-c-text-3);
}
input[data-v-e3d35944]::placeholder,
textarea[data-v-e3d35944]::placeholder {
  color: var(--vp-c-text-3);
}
input[data-v-e3d35944]::-webkit-outer-spin-button,
input[data-v-e3d35944]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'][data-v-e3d35944] {
  -moz-appearance: textfield;
}
textarea[data-v-e3d35944] {
  resize: vertical;
}
select[data-v-e3d35944] {
  -webkit-appearance: none;
}
fieldset[data-v-e3d35944] {
  margin: 0;
  padding: 0;
}
h1[data-v-e3d35944],
h2[data-v-e3d35944],
h3[data-v-e3d35944],
h4[data-v-e3d35944],
h5[data-v-e3d35944],
h6[data-v-e3d35944],
li[data-v-e3d35944],
p[data-v-e3d35944] {
  overflow-wrap: break-word;
}
vite-error-overlay[data-v-e3d35944] {
  z-index: 9999;
}
mjx-container[data-v-e3d35944] {
  overflow-x: auto;
}
mjx-container > svg[data-v-e3d35944] {
  display: inline-block;
  margin: auto;
}
.visually-hidden[data-v-e3d35944] {
  position: absolute;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
}
/**
 * Headings
 * -------------------------------------------------------------------------- */
.vp-doc h1[data-v-e3d35944],
.vp-doc h2[data-v-e3d35944],
.vp-doc h3[data-v-e3d35944],
.vp-doc h4[data-v-e3d35944],
.vp-doc h5[data-v-e3d35944],
.vp-doc h6[data-v-e3d35944] {
  position: relative;
  font-weight: 600;
  outline: none;
}
.vp-doc h1[data-v-e3d35944] {
  letter-spacing: -0.02em;
  line-height: 40px;
  font-size: 28px;
}
.vp-doc h2[data-v-e3d35944] {
  margin: 48px 0 16px;
  border-top: 1px solid var(--vp-c-divider);
  padding-top: 24px;
  letter-spacing: -0.02em;
  line-height: 32px;
  font-size: 24px;
}
.vp-doc h3[data-v-e3d35944] {
  margin: 32px 0 0;
  letter-spacing: -0.01em;
  line-height: 28px;
  font-size: 20px;
}
.vp-doc h4[data-v-e3d35944] {
  margin: 24px 0 0;
  letter-spacing: -0.01em;
  line-height: 24px;
  font-size: 18px;
}
.vp-doc .header-anchor[data-v-e3d35944] {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: -0.87em;
  font-weight: 500;
  user-select: none;
  opacity: 0;
  text-decoration: none;
  transition:
    color 0.25s,
    opacity 0.25s;
}
.vp-doc .header-anchor[data-v-e3d35944]:before {
  content: var(--vp-header-anchor-symbol);
}
.vp-doc h1:hover .header-anchor[data-v-e3d35944],
.vp-doc h1 .header-anchor[data-v-e3d35944]:focus,
.vp-doc h2:hover .header-anchor[data-v-e3d35944],
.vp-doc h2 .header-anchor[data-v-e3d35944]:focus,
.vp-doc h3:hover .header-anchor[data-v-e3d35944],
.vp-doc h3 .header-anchor[data-v-e3d35944]:focus,
.vp-doc h4:hover .header-anchor[data-v-e3d35944],
.vp-doc h4 .header-anchor[data-v-e3d35944]:focus,
.vp-doc h5:hover .header-anchor[data-v-e3d35944],
.vp-doc h5 .header-anchor[data-v-e3d35944]:focus,
.vp-doc h6:hover .header-anchor[data-v-e3d35944],
.vp-doc h6 .header-anchor[data-v-e3d35944]:focus {
  opacity: 1;
}
@media (min-width: 768px) {
.vp-doc h1[data-v-e3d35944] {
    letter-spacing: -0.02em;
    line-height: 40px;
    font-size: 32px;
}
}
.vp-doc h2 .header-anchor[data-v-e3d35944] {
  top: 24px;
}
/**
 * Paragraph and inline elements
 * -------------------------------------------------------------------------- */
.vp-doc p[data-v-e3d35944],
.vp-doc summary[data-v-e3d35944] {
  margin: 16px 0;
}
.vp-doc p[data-v-e3d35944] {
  line-height: 28px;
}
.vp-doc blockquote[data-v-e3d35944] {
  margin: 16px 0;
  border-left: 2px solid var(--vp-c-divider);
  padding-left: 16px;
  transition: border-color 0.5s;
  color: var(--vp-c-text-2);
}
.vp-doc blockquote > p[data-v-e3d35944] {
  margin: 0;
  font-size: 16px;
  transition: color 0.5s;
}
.vp-doc a[data-v-e3d35944] {
  font-weight: 500;
  color: var(--vp-c-brand-1);
  text-decoration: underline;
  text-underline-offset: 2px;
  transition:
    color 0.25s,
    opacity 0.25s;
}
.vp-doc a[data-v-e3d35944]:hover {
  color: var(--vp-c-brand-2);
}
.vp-doc strong[data-v-e3d35944] {
  font-weight: 600;
}
/**
 * Lists
 * -------------------------------------------------------------------------- */
.vp-doc ul[data-v-e3d35944],
.vp-doc ol[data-v-e3d35944] {
  padding-left: 1.25rem;
  margin: 16px 0;
}
.vp-doc ul[data-v-e3d35944] {
  list-style: disc;
}
.vp-doc ol[data-v-e3d35944] {
  list-style: decimal;
}
.vp-doc li + li[data-v-e3d35944] {
  margin-top: 8px;
}
.vp-doc li > ol[data-v-e3d35944],
.vp-doc li > ul[data-v-e3d35944] {
  margin: 8px 0 0;
}
/**
 * Table
 * -------------------------------------------------------------------------- */
.vp-doc table[data-v-e3d35944] {
  display: block;
  border-collapse: collapse;
  margin: 20px 0;
  overflow-x: auto;
}
.vp-doc tr[data-v-e3d35944] {
  background-color: var(--vp-c-bg);
  border-top: 1px solid var(--vp-c-divider);
  transition: background-color 0.5s;
}
.vp-doc tr[data-v-e3d35944]:nth-child(2n) {
  background-color: var(--vp-c-bg-soft);
}
.vp-doc th[data-v-e3d35944],
.vp-doc td[data-v-e3d35944] {
  border: 1px solid var(--vp-c-divider);
  padding: 8px 16px;
}
.vp-doc th[data-v-e3d35944] {
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  color: var(--vp-c-text-2);
  background-color: var(--vp-c-bg-soft);
}
.vp-doc td[data-v-e3d35944] {
  font-size: 14px;
}
/**
 * Decorational elements
 * -------------------------------------------------------------------------- */
.vp-doc hr[data-v-e3d35944] {
  margin: 16px 0;
  border: none;
  border-top: 1px solid var(--vp-c-divider);
}
/**
 * Custom Block
 * -------------------------------------------------------------------------- */
.vp-doc .custom-block[data-v-e3d35944] {
  margin: 16px 0;
}
.vp-doc .custom-block p[data-v-e3d35944] {
  margin: 8px 0;
  line-height: 24px;
}
.vp-doc .custom-block p[data-v-e3d35944]:first-child {
  margin: 0;
}
.vp-doc .custom-block div[class*='language-'][data-v-e3d35944] {
  margin: 8px 0;
  border-radius: 8px;
}
.vp-doc .custom-block div[class*='language-'] code[data-v-e3d35944] {
  font-weight: 400;
  background-color: transparent;
}
.vp-doc .custom-block .vp-code-group .tabs[data-v-e3d35944] {
  margin: 0;
  border-radius: 8px 8px 0 0;
}
/**
 * Code
 * -------------------------------------------------------------------------- */
/* inline code */
.vp-doc :not(pre, h1, h2, h3, h4, h5, h6) > code[data-v-e3d35944] {
  font-size: var(--vp-code-font-size);
  color: var(--vp-code-color);
}
.vp-doc :not(pre) > code[data-v-e3d35944] {
  border-radius: 4px;
  padding: 3px 6px;
  background-color: var(--vp-code-bg);
  transition:
    color 0.25s,
    background-color 0.5s;
}
.vp-doc a > code[data-v-e3d35944] {
  color: var(--vp-code-link-color);
}
.vp-doc a:hover > code[data-v-e3d35944] {
  color: var(--vp-code-link-hover-color);
}
.vp-doc h1 > code[data-v-e3d35944],
.vp-doc h2 > code[data-v-e3d35944],
.vp-doc h3 > code[data-v-e3d35944],
.vp-doc h4 > code[data-v-e3d35944] {
  font-size: 0.9em;
}
.vp-doc div[class*='language-'][data-v-e3d35944],
.vp-block[data-v-e3d35944] {
  position: relative;
  margin: 16px -24px;
  background-color: var(--vp-code-block-bg);
  overflow-x: auto;
  transition: background-color 0.5s;
}
@media (min-width: 640px) {
.vp-doc div[class*='language-'][data-v-e3d35944],
  .vp-block[data-v-e3d35944] {
    border-radius: 8px;
    margin: 16px 0;
}
}
@media (max-width: 639px) {
.vp-doc li div[class*='language-'][data-v-e3d35944] {
    border-radius: 8px 0 0 8px;
}
}
.vp-doc div[class*='language-'] + div[class*='language-'][data-v-e3d35944],
.vp-doc div[class$='-api'] + div[class*='language-'][data-v-e3d35944],
.vp-doc div[class*='language-'] + div[class$='-api'] > div[class*='language-'][data-v-e3d35944] {
  margin-top: -8px;
}
.vp-doc [class*='language-'] pre[data-v-e3d35944],
.vp-doc [class*='language-'] code[data-v-e3d35944] {
  /*rtl:ignore*/
  direction: ltr;
  /*rtl:ignore*/
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
.vp-doc [class*='language-'] pre[data-v-e3d35944] {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 20px 0;
  background: transparent;
  overflow-x: auto;
}
.vp-doc [class*='language-'] code[data-v-e3d35944] {
  display: block;
  padding: 0 24px;
  width: fit-content;
  min-width: 100%;
  line-height: var(--vp-code-line-height);
  font-size: var(--vp-code-font-size);
  color: var(--vp-code-block-color);
  transition: color 0.5s;
}
.vp-doc [class*='language-'] code .highlighted[data-v-e3d35944] {
  background-color: var(--vp-code-line-highlight-color);
  transition: background-color 0.5s;
  margin: 0 -24px;
  padding: 0 24px;
  width: calc(100% + 2 * 24px);
  display: inline-block;
}
.vp-doc [class*='language-'] code .highlighted.error[data-v-e3d35944] {
  background-color: var(--vp-code-line-error-color);
}
.vp-doc [class*='language-'] code .highlighted.warning[data-v-e3d35944] {
  background-color: var(--vp-code-line-warning-color);
}
.vp-doc [class*='language-'] code .diff[data-v-e3d35944] {
  transition: background-color 0.5s;
  margin: 0 -24px;
  padding: 0 24px;
  width: calc(100% + 2 * 24px);
  display: inline-block;
}
.vp-doc [class*='language-'] code .diff[data-v-e3d35944]::before {
  position: absolute;
  left: 10px;
}
.vp-doc [class*='language-'] .has-focused-lines .line[data-v-e3d35944]:not(.has-focus) {
  filter: blur(0.095rem);
  opacity: 0.4;
  transition:
    filter 0.35s,
    opacity 0.35s;
}
.vp-doc [class*='language-'] .has-focused-lines .line[data-v-e3d35944]:not(.has-focus) {
  opacity: 0.7;
  transition:
    filter 0.35s,
    opacity 0.35s;
}
.vp-doc [class*='language-']:hover .has-focused-lines .line[data-v-e3d35944]:not(.has-focus) {
  filter: blur(0);
  opacity: 1;
}
.vp-doc [class*='language-'] code .diff.remove[data-v-e3d35944] {
  background-color: var(--vp-code-line-diff-remove-color);
  opacity: 0.7;
}
.vp-doc [class*='language-'] code .diff.remove[data-v-e3d35944]::before {
  content: '-';
  color: var(--vp-code-line-diff-remove-symbol-color);
}
.vp-doc [class*='language-'] code .diff.add[data-v-e3d35944] {
  background-color: var(--vp-code-line-diff-add-color);
}
.vp-doc [class*='language-'] code .diff.add[data-v-e3d35944]::before {
  content: '+';
  color: var(--vp-code-line-diff-add-symbol-color);
}
.vp-doc div[class*='language-'].line-numbers-mode[data-v-e3d35944] {
  /*rtl:ignore*/
  padding-left: 32px;
}
.vp-doc .line-numbers-wrapper[data-v-e3d35944] {
  position: absolute;
  top: 0;
  bottom: 0;
  /*rtl:ignore*/
  left: 0;
  z-index: 3;
  /*rtl:ignore*/
  border-right: 1px solid var(--vp-code-block-divider-color);
  padding-top: 20px;
  width: 32px;
  text-align: center;
  font-family: var(--vp-font-family-mono);
  line-height: var(--vp-code-line-height);
  font-size: var(--vp-code-font-size);
  color: var(--vp-code-line-number-color);
  transition:
    border-color 0.5s,
    color 0.5s;
}
.vp-doc [class*='language-'] > button.copy[data-v-e3d35944] {
  /*rtl:ignore*/
  direction: ltr;
  position: absolute;
  top: 12px;
  /*rtl:ignore*/
  right: 12px;
  z-index: 3;
  border: 1px solid var(--vp-code-copy-code-border-color);
  border-radius: 4px;
  width: 40px;
  height: 40px;
  background-color: var(--vp-code-copy-code-bg);
  opacity: 0;
  cursor: pointer;
  background-image: var(--vp-icon-copy);
  background-position: 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  transition:
    border-color 0.25s,
    background-color 0.25s,
    opacity 0.25s;
}
.vp-doc [class*='language-']:hover > button.copy[data-v-e3d35944],
.vp-doc [class*='language-'] > button.copy[data-v-e3d35944]:focus {
  opacity: 1;
}
.vp-doc [class*='language-'] > button.copy[data-v-e3d35944]:hover,
.vp-doc [class*='language-'] > button.copy.copied[data-v-e3d35944] {
  border-color: var(--vp-code-copy-code-hover-border-color);
  background-color: var(--vp-code-copy-code-hover-bg);
}
.vp-doc [class*='language-'] > button.copy.copied[data-v-e3d35944],
.vp-doc [class*='language-'] > button.copy:hover.copied[data-v-e3d35944] {
  /*rtl:ignore*/
  border-radius: 0 4px 4px 0;
  background-color: var(--vp-code-copy-code-hover-bg);
  background-image: var(--vp-icon-copied);
}
.vp-doc [class*='language-'] > button.copy.copied[data-v-e3d35944]::before,
.vp-doc [class*='language-'] > button.copy:hover.copied[data-v-e3d35944]::before {
  position: relative;
  top: -1px;
  /*rtl:ignore*/
  transform: translateX(calc(-100% - 1px));
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--vp-code-copy-code-hover-border-color);
  /*rtl:ignore*/
  border-right: 0;
  /*rtl:ignore*/
  border-radius: 4px 0 0 4px;
  padding: 0 10px;
  width: fit-content;
  height: 40px;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  color: var(--vp-code-copy-code-active-text);
  background-color: var(--vp-code-copy-code-hover-bg);
  white-space: nowrap;
  content: var(--vp-code-copy-copied-text-content);
}
.vp-doc [class*='language-'] > span.lang[data-v-e3d35944] {
  position: absolute;
  top: 2px;
  /*rtl:ignore*/
  right: 8px;
  z-index: 2;
  font-size: 12px;
  font-weight: 500;
  user-select: none;
  color: var(--vp-code-lang-color);
  transition:
    color 0.4s,
    opacity 0.4s;
}
.vp-doc [class*='language-']:hover > button.copy + span.lang[data-v-e3d35944],
.vp-doc [class*='language-'] > button.copy:focus + span.lang[data-v-e3d35944] {
  opacity: 0;
}
/**
 * Component: Team
 * -------------------------------------------------------------------------- */
.vp-doc .VPTeamMembers[data-v-e3d35944] {
  margin-top: 24px;
}
.vp-doc .VPTeamMembers.small.count-1 .container[data-v-e3d35944] {
  margin: 0 !important;
  max-width: calc((100% - 24px) / 2) !important;
}
.vp-doc .VPTeamMembers.small.count-2 .container[data-v-e3d35944],
.vp-doc .VPTeamMembers.small.count-3 .container[data-v-e3d35944] {
  max-width: 100% !important;
}
.vp-doc .VPTeamMembers.medium.count-1 .container[data-v-e3d35944] {
  margin: 0 !important;
  max-width: calc((100% - 24px) / 2) !important;
}
/**
 * External links
 * -------------------------------------------------------------------------- */
/* prettier-ignore */
:is(.vp-external-link-icon[data-v-e3d35944], .vp-doc a[href*='://'][data-v-e3d35944], .vp-doc a[target='_blank'][data-v-e3d35944]):not(:is(.no-icon, svg a, :has(img, svg)))::after {
  display: inline-block;
  margin-top: -1px;
  margin-left: 4px;
  width: 11px;
  height: 11px;
  background: currentColor;
  color: var(--vp-c-text-3);
  flex-shrink: 0;
  --icon: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' %3E%3Cpath d='M0 0h24v24H0V0z' fill='none' /%3E%3Cpath d='M9 5v2h6.59L4 18.59 5.41 20 17 8.41V15h2V5H9z' /%3E%3C/svg%3E");
  -webkit-mask-image: var(--icon);
  mask-image: var(--icon);
  /*rtl:raw:transform: scaleX(-1);*/
}
.vp-external-link-icon[data-v-e3d35944]::after {
  content: '';
}
/* prettier-ignore */
.external-link-icon-enabled[data-v-e3d35944] :is(.vp-doc a[href*='://'], .vp-doc a[target='_blank']):not(:is(.no-icon, svg a, :has(img, svg)))::after {
  content: '';
  color: currentColor;
}
